.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #000;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  position: relative;
  align-items: center;
  background-color: #f2f2f2;
  /* z-index: 100; В хэдере с z-index не получилось решить((. Я так понял проблема кроется в позиционировании */
  /* выше установили ограничения для секции */
}

.logo__place_header {
  width: 228px;
  height: 32px;
  min-height: auto;
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 2;
}

.header__title {
  margin:0 0 0 64px;
  max-width: 730px;
  width: 100%;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  z-index: 2;
}

.header__subtitle {
  margin: 0;
  max-width: 388px;
  width: 100%;
  position: absolute;
  bottom: 30px;
  left: 64px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 2;
}

.header__link {
  color: #2f80ed;
  text-decoration-line: none;
}

.header__link:hover {
  border-bottom: 1px solid;
}


.header__main-illustration {
  width: 765px;
  height: 608px;
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  background-color: #2f80ed;
  height: 568px;
  width: 568px;
  display: flex;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 0;
}

.description {
  margin-top: 100px;
}

.two-columns {
  width: 80%;
  display: flex;
  margin: auto;
  justify-content: space-between;
}

.two-columns__brief {
  max-width: 175px;
  width: 100%;
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

.digits {
  margin: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-title {
  margin: auto;
  width: 60%;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-subtitle {
  margin: auto;
  margin-top: 20px;
  width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 60px;
  margin: auto;
  padding: 60px 0 0 0;
  list-style-type: none;
  max-width: 1100px;
  width: 100%;
}

.table__cell {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  max-width: 250px;
  width: 100%;
  vertical-align: top;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text {
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feyman {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  gap: 70px;
  min-height: 890px;
  background-color: #f2f2f2;
}

.feyman__title {
  max-width: 648px;
  width: 100%;
  margin: 100px 0 0 0;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  text-align: center;
  z-index: 1;
}

.feyman__subtitle {
  margin: 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 1;
}

.feyman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration-line: none;
  z-index: 1;
}

.feyman__link:hover {
  border-bottom: 1px solid;
}

.feyman__main-foto {
  width: 867px;
  height: 637px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 0;
}

.kaufman {
  color: #fff;
  background-color: #1f1f1f;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 90px 0 90px 0;
  z-index: 1;
}

.table_theme_dark {
  row-gap: 80px;
  padding: 80px 0 0 0;
  counter-reset: my-counter;
}

.table__heading_theme_dark::before {
  content: counter(my-counter);
  counter-increment: my-counter;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  color: #fff
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  max-width: 200px;
  width: 100%;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  width: 877px;
  height: 877px;
  background-size: cover;
  position: absolute;
  right: -210px;
  top: 0;
  z-index: -1;
}

.footer {
  min-height: 350px;
  display: flex;
  background-color: #1f1f1f;
  color: #fff;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  margin: 60px auto 40px auto;
  padding: 0;
  width: 90%;
  list-style-type: none;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;

}

.logo__place_footer {
  background-image: url(../images/logo_place_footer.svg);
  position: static;
}

.footer__author {
  margin: 0;
  margin-top: 18px;
  margin-bottom: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
}

.footer__column-heading {
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  margin: 20px 0 16px 0;
}

.footer__column-link {
  color: #fff;
  text-decoration-line: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-link:hover {
  border-bottom: 1px solid;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
}

.footer__social-icon {
  margin-right: 10px;
  height: 16px;
  width: 16px;
}
